    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #1e1e2e;
        --color01: #1e1e2e;
        --color02: #1e1e2e;
        --color03: #bac2de;
        --color04: #a6adc8;
        --color05: #a6adc8;
        --color06: #a6adc8;
        --color07: #a6adc8;
        --color08: #f38ba8;
        --color09: #f9e2af;
        --color10: #f9e2af;
        --color11: #a6e3a1;
        --color12: #94e2d5;
        --color13: #89b4fa;
        --color14: #f5c2e7;
        --color15: #f9e2af;
    }
