
/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */
@import "themes/Catppuccin/mocha.css";
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @base;
    }

    to {
        color: @mantle;
        background-color: @peach;
    }
}

@keyframes blink-critical {
    70% {
      color: @base;
    }

    to {
        color: @mantle;
        background-color: @red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "RobotoMono Nerd Font", "Roboto Mono", sans-serif;
}

/* The whole bar */
window#waybar {
    background: @base;
    color: @text;
    font-size: 14px;
    opacity: 0.9;
}

/* Each module */
#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-github,
#custom-clipboard,
#custom-zeit,
#custom-dnd,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#backlight,
#language,
#custom-sunset,
#custom-playerctl,
#custom-weather,
#tray {
    padding-left: 10px;
    padding-right: 10px;
    color: @text;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
#pulseaudio, #cpu, #memory, #battery, #custom-sunset, #custom-dnd, #idle_inhibitor, #bluetooth, #clock {
    border-top: 2px solid transparent;
    padding-bottom: 2px;
    background-color: @mantle;
    border-color: @crust;
}

#cpu, #memory, #battery {
    color: @teal;
}

#bluetooth.enabled {
    color: @sky;
}

#pulseaudio {
    color: @sky;
}

#custom-sunset {
    color: @peach;
}

#custom-dnd {
    color: @sapphire;
}

#idle_inhibitor {
    color: @blue;
}

#bluetooth {
    color: @lavender;
}

#custom-scratchpad {
    color: @crust;
    background-color: @lavender;
}

#custom-zeit.tracking {
    background-color: @peach;
}

#custom-weather {
    color: @text;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @saphire;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    color: @rosewater;
    font-weight: bold;
}

#cpu.warning {
    color: @peach;
}

#cpu.critical {
    color: @red;
}

#custom-menu {
    padding-left: 8px;
    padding-right: 13px;
    color: @teal;
    background-color: @base;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @yellow;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network.disconnected {
    color: @peach;
}

#pulseaudio.muted {
    color: @pink;
}

#temperature.critical {
    color: @red;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: @text;
}

#workspaces button.focused {
    background-color: @mantle;
    color: @teal;
    border-color: @crust;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
    background-color: @pink;
}

#bluetooth.disabled {
    color: @text;
}

#custom-wf-recorder {
    color: @red;
    padding-right: 10px;
}
